<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.lq.bite.dao.AllIcoDao" >  
    <resultMap id="BaseResultMap" type="com.lq.bite.entity.CleanBite" >  
        <result column="bite_name" property="biteName" jdbcType="VARCHAR" />  
    </resultMap>  
      
  	<sql id="Base_Column_List" >  
       bite_name
    </sql>  
    <insert id="insert" parameterType="com.lq.bite.entity.CleanBite" >  
       INSERT INTO   
            all_ico  
            (bite_name)   
        VALUES  
            (#{biteName})  
    </insert> 
    
    <select id="getAll" resultMap="BaseResultMap"  >  
       SELECT   
       <include refid="Base_Column_List" />  
       FROM all_ico  
    </select>   
</mapper>  